.main {
	position: relative;
	width: 90%;
	height: auto;
	margin: 5rem auto;
	padding: 2rem;
}

.addRecordSection {
	width: 100%;
	max-width: 650px;
	height: auto;
	margin: 4rem auto 2rem;
	padding: 1rem;
	background-color: #555;
	border-radius: 5px;
	box-shadow: -1px 0 10px rgba(0,0,0,.6), 0 1px 10px rgba(0,0,0,.6), 1px 0 10px rgba(0,0,0,.6), 0 -1px 10px rgba(0,0,0,.6);
}

.addRecord {
	display: inline-block;
	width: 60%;
	font-family: 'Orbitron', sans-serif;
	font-size: 1.3rem;
	letter-spacing: 3px;
	color: rgb(255,223,0);
}

.selectTypeSection {
	display: inline-block;
	width: 40%;
}

.typeLabel, .typeSelect {
	width: 50%;
}

.typeLabel, .nameLabel {
	color: #fff;
}

.typeSelect, .nameSelect {
	height: 40px;
	border-radius: 5px;
	padding-left: .5rem;
	font-family: 'NTR', sans-serif;
	font-weight: bold;
	font-size: 1.2rem;
}

.nameSelect {
	width: 100%;
	margin: 0 0 .5rem 0;
}

.inputSection {
	position: relative;
	width: 100%;
	height: 50px;
	margin: 1rem 0;
	font-family: 'Public Sans', sans-serif;
	display: flex;
	align-items: center;
}

.inputLabel {
	position: absolute;
	margin: 0 .5rem;
	padding: 0 .2rem;
	font-size: 1.2rem;
	display: inline-block;
	background-color: #555;
	color: #fff;
	transition: top .5s, font-size .5s;
}

.input {
	position: absolute;
	width: 100%;
	height: 100%;
	padding: .5rem .8rem;
	background-color: transparent;
	color: #fff;
	border: 1px solid #999;
	border-radius: 3px;
	z-index: 1;
}

.input:focus {
	z-index: 0;
}

.input:focus + .inputLabel {
	top: -25%;
	font-size: .8rem;
}

.saveButton {
	width: 48.6%;
	height: 50px;
	margin-right: .5rem;
	border: 1px solid #999;
	border-radius: 3px;
	font-family: 'Orbitron', sans-serif;
	font-weight: bold;
	letter-spacing: 3px;
	background-color: green;
}

.saveButtonDisabled {
	width: 48.6%;
	height: 50px;
	margin-right: .5rem;
	border: 1px solid #999;
	border-radius: 3px;
	font-family: 'Orbitron', sans-serif;
	font-weight: bold;
	letter-spacing: 3px;
	background-color: gray;
}

.saveButton:hover {
	background-color: #ADFF2F;
}

.cancelButton {
	width: 48.6%;
	height: 50px;
	margin-left: .5rem;
	border: 1px solid #999;
	border-radius: 3px;
	font-family: 'Orbitron', sans-serif;
	font-weight: bold;
	letter-spacing: 3px;
	background-color: rgb(212,175,55);
}

.cancelButton:hover {
	background-color: rgb(255,223,0); 
}

@media screen and (max-width: 800px) {
	.addRecord {
		display: block;
	}

	.selectTypeSection {
		display: block;
		width: 100%
	}

	.saveButton, .saveButtonDisabled, .cancelButton {
		width: 100%;
	}

	.saveButton, .saveButtonDisabled {
		margin-bottom: 1rem;
	}

	.cancelButton {
		margin: 0;
	}
}

