.main {
	position: relative;
	width: 90%;
	height: auto;
	margin: 10rem auto;
	padding: 2rem;
}

.addCategorySection {
	width: 100%;
	max-width: 650px;
	height: auto;
	margin: 4rem auto 2rem;
	padding: 1rem;
	background-color: #555;
	border-radius: 5px;
	box-shadow: -1px 0 10px rgba(0,0,0,.6), 0 1px 10px rgba(0,0,0,.6), 1px 0 10px rgba(0,0,0,.6), 0 -1px 10px rgba(0,0,0,.6);
}

.addCategory {
	width: 100%;
	text-align: center;
	font-family: 'Orbitron', sans-serif;
	font-size: 1.3rem;
	letter-spacing: 3px;
	color: rgb(255,223,0);
}

.horizontalLine {
	border-color: #aaa;
	margin: 0;
}

/*input design*/
.inputSection {
	position: relative;
	width: 100%;
	height: 50px;
	margin: 1rem 0;
	font-family: 'Public Sans', sans-serif;
	display: flex;
	align-items: center;
}

.inputLabel {
	position: absolute;
	margin: 0 .5rem;
	padding: 0 .2rem;
	font-size: 1.2rem;
	display: inline-block;
	background-color: #555;
	color: #fff;
	transition: top .5s, font-size .5s;
}

.input {
	position: absolute;
	width: 100%;
	height: 100%;
	padding: .5rem .8rem;
	background-color: transparent;
	color: #fff;
	border: 1px solid #999;
	border-radius: 3px;
	z-index: 1;
}

.input:focus {
	z-index: 0;
}

.input:focus + .inputLabel {
	top: -25%;
	font-size: .8rem;
}

.typeButtons {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.typeLabel {
	font-family: 'NTR', sans-serif;
	font-size: 1.2rem;
	color: #999;
	letter-spacing: 3px;
}

.typeSelect {
	width: 6rem;
	height: 40px;
	margin: 0 1rem;
	border-radius: 3px;
	font-family: 'NTR', sans-serif;
	font-weight: bold;
	font-size: 1.2rem;
}
/*buttons style*/
.saveButton {
	width: 8rem;
	height: 50px;
	margin-left: 1rem;
	border: 1px solid #999;
	border-radius: 3px;
	font-family: 'Orbitron', sans-serif;
	font-weight: bold;
	letter-spacing: 3px;
	background-color: green;
}

.saveButtonDisabled {
	width: 8rem;
	height: 50px;
	margin-left: 1rem;
	border: 1px solid #999;
	border-radius: 3px;
	font-family: 'Orbitron', sans-serif;
	font-weight: bold;
	letter-spacing: 3px;
	background-color: gray;
}

.saveButton:hover {
	background-color: #ADFF2F;
}

.cancelButton {
	width: 8rem;
	height: 50px;
	margin-left: 1rem;
	border: 1px solid #999;
	border-radius: 3px;
	font-family: 'Orbitron', sans-serif;
	font-weight: bold;
	letter-spacing: 3px;
	background-color: rgb(212,175,55);
}

.cancelButton:hover {
	background-color: rgb(255,223,0); 
}

@media screen and (max-width: 800px) {
	.saveButton, .saveButtonDisabled {
		margin-bottom: 1rem;
	}
}
