.main {
	position: relative;
	width: 90%;
	height: auto;
	margin: 10rem auto;
	padding: 2rem;
}

.categoryListSection {
	width: 100%;
	max-width: 650px;
	height: auto;
	margin: 4rem auto 2rem;
	padding: 1rem;
	background-color: #555;
	border-radius: 5px;
	box-shadow: -1px 0 10px rgba(0,0,0,.6), 0 1px 10px rgba(0,0,0,.6), 1px 0 10px rgba(0,0,0,.6), 0 -1px 10px rgba(0,0,0,.6);
}

.categoryListHeader {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1rem;
}

.categoryList {
	width: 100%;
	font-family: 'Orbitron', sans-serif;
	font-size: 1.3rem;
	letter-spacing: 3px;
	color: rgb(255,223,0);
}

.selectCategoryType {
	width: 10rem;
	height: 40px;
	margin: 0 1rem;
	border-radius: 3px;
	font-family: 'NTR', sans-serif;
	font-weight: bold;
	font-size: 1.2rem;
}

.addButton {
	width: 7rem;
	height: 40px;
	border-radius: 10px;
	font-family: 'NTR', sans-serif;
	font-weight: bold;
	font-size: 1.2rem;
	background-color: rgb(212,175,55);
}

.addButton:hover {
	background-color: yellow;
}

.horizontalLine {
	border-color: #aaa;
	margin: 0;
}

.categoryRow {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 1rem;
	border-bottom: 1px solid #aaa;
	font-family: 'NTR', sans-serif;
	font-size: 1.2rem;
}

.categoryName {
	display: inline-block;
	min-width: 16rem;
	height: auto;
	color: #fff;
}

.categoryType {
	display: inline-block;
	width: 6rem;
	height: auto;
}

.deleteButton {
	width: 5rem;
	height: 40px;
	border-radius: 10px;
	font-family: 'NTR', sans-serif;
	font-weight: bold;
	font-size: 1.2rem;
	background-color: #999;
}

.deleteButton:hover {
	background-color: #333;
	color: #ddd;
}