* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	background-image: linear-gradient(to top,#111,#ddd,#ddd,#ddd,#111);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
  	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.webudget, .webudget:hover {
	display: flex;
	justify-content: center;
	align-items: bottom;
	text-decoration: none;
	margin-right: 1rem;
}

.web {
	width: 50px;
	height: 50px;
}

.udget {
	font-family: 'Plaster', cursive;
	color: rgb(255,223,0);
	font-size: 2.5rem;
}

.navitems {
	display: flex;
	align-content: flex-end;
}

.navLink {
	font-family: 'Orbitron', sans-serif;
	color: #fff;
	letter-spacing: 3px;
	margin-left: 2rem;
}

.navLink:hover {
	color: rgb(255,223,0);
}

.navLinkOut {
	font-family: 'Orbitron', sans-serif;
	color: tomato;
	letter-spacing: 3px;
	margin-left: 2rem;
}

.navLinkOut:hover {
	color: #F08080;
}
