.main {
	position: relative;
	width: 90%;
	height: auto;
	margin: 10rem auto;
	padding: 2rem;
}

.headerOne {
	width: 100%;
	text-align: center;
	font-family: 'Orbitron', sans-serif;
	font-weight: bold;
	letter-spacing: 3px;
}

.budget {
	text-shadow: -2px 0 5px rgba(0,0,0,.4), 0 2px 5px rgba(0,0,0,.4), 2px 0 5px rgba(0,0,0,.4), 0 -2px 5px rgba(0,0,0,.4);
	color: rgb(255,223,0);
}

.logInSection {
	width: 100%;
	max-width: 400px;
	height: auto;
	margin: 4rem auto 2rem;
	padding: 1rem;
	background-color: #555;
	border-radius: 5px;
	box-shadow: -1px 0 10px rgba(0,0,0,.6), 0 1px 10px rgba(0,0,0,.6), 1px 0 10px rgba(0,0,0,.6), 0 -1px 10px rgba(0,0,0,.6);
}

.headerTwo {
	text-align: center;
	font-family: 'NTR', sans-serif;
	color: 	rgb(212,175,55);
}

.horizontalLine {
	border-color: #aaa;
	margin: 0;
}

.form {
}
/*Email Input design*/
.inputSection {
	position: relative;
	width: 100%;
	height: 50px;
	margin: 1rem 0;
	font-family: 'Public Sans', sans-serif;
	display: flex;
	align-items: center;
}

.inputLabel {
	position: absolute;
	margin: 0 .5rem;
	padding: 0 .2rem;
	font-size: 1.2rem;
	display: inline-block;
	background-color: #555;
	color: #fff;
	transition: top .5s, font-size .5s;
}

.input {
	position: absolute;
	width: 100%;
	height: 100%;
	padding: .5rem .8rem;
	background-color: transparent;
	color: #fff;
	border: 1px solid #999;
	border-radius: 3px;
	z-index: 1;
}

.input:focus {
	z-index: 0;
}

.input:focus + .inputLabel {
	top: -25%;
	font-size: .8rem;
}

/*buttons style*/

.logInButton, .signUpButton{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 50px;
	margin: 1rem 0;
	border: 1px solid #999;
	border-radius: 3px;
	font-family: 'Orbitron', sans-serif;
	font-weight: bold;
	letter-spacing: 3px;
}

.logInButton {
	background-color: green;
}

.logInButton:hover {
	background-color: #ADFF2F;
}

.signUpButton {
	background-color: rgb(212,175,55);
}

.signUpButton:hover {
	background-color: yellow; 
}

.googleButton {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 50px;
	border: 1px solid #999;
	border-radius: 3px;
}
