.main {
	position: relative;
	width: 90%;
	height: auto;
	margin: 0 auto;
	padding: 2rem;
}

.walletSection {
	width: 100%;
	max-width: 800px;
	height: auto;
	margin: 8rem auto 2rem;
	padding: 1rem;
	background-color: #555;
	border-radius: 5px;
	box-shadow: -1px 0 10px rgba(0,0,0,.6), 0 1px 10px rgba(0,0,0,.6), 1px 0 10px rgba(0,0,0,.6), 0 -1px 10px rgba(0,0,0,.6);
}

.headerOne, .headerTwo {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.myWallet {
	font-family: 'NTR', sans-serif;
	color: 	rgb(212,175,55);
}

.lastVisit {
	font-family: 'NTR', sans-serif;
	font-size: 1.1rem;
	font-weight: bold;
	color: #000;
}

.horizontalLine {
	border-color: #aaa;
	margin: 0;
}

.avatarLogo {
	display: inline-block;
	width: 60px;
	height: 60px;
	text-align: center;
	line-height: 60px;
	margin: 1rem 1rem .5rem 0;
	background-color: rgb(207,181,59);
	border: 1px solid rgb(255,223,0);
	border-radius: 50%;
	font-size: 1.6rem;
	font-family: 'Plaster', cursive;
	color: rgb(255,223,0);
}

.userName {
	font-size: 1.6rem;
	font-family: 'Public Sans', sans-serif;
	color: #ddd;
}

.balance {
	font-size: 1.3rem;
	font-family: 'Public Sans', sans-serif;
	color: rgb(207,181,59);
}

.pesoSign {
	font-size: 1.6rem;
	font-family: 'Public Sans', sans-serif;
	color: rgb(255,223,0);
}

.posBalance {
	font-size: 1.5rem;
	font-weight: bold;
	letter-spacing: 3px; 
	font-family: 'Orbitron', sans-serif;
	color: #ADFF2F;
}

.negBalance {
	font-size: 1.5rem;
	font-weight: bold;
	letter-spacing: 3px; 
	font-family: 'Orbitron', sans-serif;
	color: rgb(255,99,71);
}

.headerThree {
	margin: .7rem 0 .6rem;
	text-align: center;
	letter-spacing: 3px; 
	font-family: 'Orbitron', sans-serif;
	color: rgb(255,223,0);
}

