.main {
	position: relative;
	width: 90%;
	height: auto;
	margin: 5rem auto;
	padding: 2rem;
}

.recordsSection {
	width: 100%;
	max-width: 650px;
	height: auto;
	margin: 4rem auto 2rem;
	padding: 1rem;
	background-color: #555;
	border-radius: 5px;
	box-shadow: -1px 0 10px rgba(0,0,0,.6), 0 1px 10px rgba(0,0,0,.6), 1px 0 10px rgba(0,0,0,.6), 0 -1px 10px rgba(0,0,0,.6);
}

.myRecords {
	width: 100%;
	text-align: center;
	font-family: 'Orbitron', sans-serif;
	font-size: 1.3rem;
	letter-spacing: 3px;
	color: rgb(255,223,0);
}

.horizontalLine {
	border-color: #aaa;
	margin: 0;
}

.toolBar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.searchBar {
	display: block;
	margin: .5rem 0;
	width: 54.5%;
	height: 40px;
	border-radius: 5px;
}

.selectType {
	width: 6rem;
	height: 40px;
	margin: .5rem 0 .5rem .5rem;
	border-radius: 5px;
	font-family: 'NTR', sans-serif;
	font-weight: bold;
	font-size: 1.2rem;
}

.sort {
	width: 6rem;
	height: 40px;
	margin: .5rem 0 .5rem .5rem;
	border-radius: 5px;
	font-family: 'NTR', sans-serif;
	font-weight: bold;
	font-size: 1.2rem;
}

.addButton {
	display: inline-block;
	width: 4rem;
	height: 40px;
	margin: .5rem 0 .5rem .5rem;
	border-radius: 5px;
	font-family: 'NTR', sans-serif;
	font-weight: bold;
	font-size: 1.2rem;
	background-color: rgb(212,175,55);
}

.addButton:hover {
	background-color: yellow;
}

.listSection {
	background-color: #fff;
	border-radius: 5px;
	font-family: 'NTR', sans-serif;
	font-size: 1.1rem;
}

.container {
	padding: .5rem;
	border-bottom: 1px solid #555;
}

.date {
	text-align: center;
}

/*buttons style*/
.buttons {
	display: flex;
	justify-content: center;
	align-items: center;
}

.editButton {
	width: 8rem;
	height: 40px;
	margin-left: 1rem;
	border: 1px solid #999;
	border-radius: 3px;
	font-family: 'Orbitron', sans-serif;
	font-weight: bold;
	letter-spacing: 3px;
	background-color: green;
}

.editButton:hover {
	background-color: #ADFF2F;
}

.deleteButton {
	width: 8rem;
	height: 40px;
	margin-left: 1rem;
	border: 1px solid #999;
	border-radius: 3px;
	font-family: 'Orbitron', sans-serif;
	font-weight: bold;
	letter-spacing: 3px;
	background-color: #999;
}

.deleteButton:hover {
	background-color: #333;
	color: #ddd 
}


@media screen and (max-width: 800px) {
	.searchBar {
		width: 100%;
		margin: .5rem 0;
	}

	.selectType, .sort, .addButton {
		width: 6.5rem;
	}
}